<a href="https://colab.research.google.com/github/naimakhan33/-Post-Pruning/blob/main/Credit_Card_Customer_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [204]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [205]:
!chmod 600 ~/.kaggle/kaggle.json

In [206]:
!kaggle datasets download -d rjmanoj/credit-card-customer-churn-prediction

Dataset URL: https://www.kaggle.com/datasets/rjmanoj/credit-card-customer-churn-prediction
License(s): unknown
credit-card-customer-churn-prediction.zip: Skipping, found more recently modified local copy (use --force to force download)

In [207]:
import zipfile
zip_ref = zipfile.ZipFile('/content/credit-card-customer-churn-prediction.zip')
zip_ref.extractall('/content')
zip_ref.close()

In [208]:
import numpy as np
import pandas as pd
import os

In [209]:
df = pd.read_csv('/content/Churn_Modelling.csv')

In [210]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [212]:
df.duplicated().sum()

np.int64(0)

In [213]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [214]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [215]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [216]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [217]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [218]:
df = pd.get_dummies(df, columns=['Geography', 'Gender'], drop_first=True, dtype=int)

In [219]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [220]:
x = df.drop(columns=['Exited'])
y = df['Exited']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 ,random_state=1)

In [221]:
x_train.shape

(8000, 11)

In [222]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_train)

In [223]:
x_train_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]])

In [224]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [225]:
model = Sequential()

In [226]:
model.add(Dense(3,activation='sigmoid', input_dim = 11))

model.add(Dense(1,activation='sigmoid'))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [227]:
model.summary()

Model: "sequential_4"

 Layer (type)                     Output Shape                  Param #

 dense_16 (Dense)                 (None, 3)                          36

 dense_17 (Dense)                 (None, 1)                           4

 Total params: 40 (160.00 B)

 Trainable params: 40 (160.00 B)

 Non-trainable params: 0 (0.00 B)

In [228]:
model.compile(optimizer='adam',loss='binary_crossentropy' , metrics=['accuracy'])

In [229]:
history = model.fit(x_train_scaled,y_train,epochs=10)

Epoch 1/10
250/250  2s 2ms/step - accuracy: 0.5094 - loss: 0.6963
Epoch 2/10
250/250  1s 2ms/step - accuracy: 0.8021 - loss: 0.5506
Epoch 3/10
250/250  1s 2ms/step - accuracy: 0.7971 - loss: 0.4900
Epoch 4/10
250/250  1s 2ms/step - accuracy: 0.7957 - loss: 0.4625
Epoch 5/10
250/250  1s 2ms/step - accuracy: 0.7984 - loss: 0.4480
Epoch 6/10
250/250  1s 2ms/step - accuracy: 0.8020 - loss: 0.4379
Epoch 7/10
250/250  1s 3ms/step - accuracy: 0.8017 - loss: 0.4334
Epoch 8/10
250/250  1s 3ms/step - accuracy: 0.8107 - loss: 0.4264
Epoch 9/10
250/250  1s 2ms/step - accuracy: 0.8176 - loss: 0.4185
Epoch 10/10
250/250  1s 2ms/step - accuracy: 0.8140 - loss: 0.4283

In [230]:
model.layers[0].get_weights()

[array([[ 0.00719297, -0.05272631,  0.2695051 ],
        [ 1.2406691 , -2.2299502 , -0.644149  ],
        [-0.02397304, -0.03306365,  0.09048799],
        [ 0.20197901, -0.365382  , -0.37575978],
        [-0.02561891,  0.07828756, -0.04971636],
        [ 0.17193541, -0.06371854,  0.28263795],
        [-0.67783046,  0.17852768,  1.1123124 ],
        [ 0.15926632, -0.06080598,  0.13545352],
        [ 0.30236486, -0.35271215, -0.7019354 ],
        [-0.28256488, -0.09588293, -0.1571204 ],
        [-0.34240943,  0.3592698 ,  0.5374428 ]], dtype=float32),
 array([-0.44560492,  0.56585634,  0.64097923], dtype=float32)]

In [231]:
y_log = model.predict(x_test_scaled)

250/250  0s 1ms/step

In [232]:
y_pred = np.where (y_log>0.5,1,0)